@import url(_variaveis.css);

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 10vh;
  background-color: var(--amarelo);
  font-family: "Open Sans", sans-serif;

  .header--img {
    max-width: 180px;
  }
}
